# Terraform .gitignore file

# vs code settings
.vscode/*

# local .terraform dir
**/.terraform/*

# tf state files
**/*.tfstate
**/*.tfstate.*

# tf variables file
**/variables.tf

# modules dir
**/modules

# private keys
**/*.pem

# vault dir
**/vault